@import "../../../styles";
form {
  padding: 16px;
}
button {
  margin-top: 16px;
}

label {
  padding-bottom: 10px;
  color: white;
}

.valid-input {
  outline-color: green;
}

h1 {
  padding: 16px;
  display: flex;
  justify-content: center;
}
