<!--<nz-modal [nzVisible]="true" nzTitle="Your Trips Calender">-->
<!--  <ng-container *nzModalContent>-->
<nz-header><h1>Your Trip's Calender</h1></nz-header>


  <div class="w-4/5 h-full shadow-2xl shadow-secondary rounded-md m-auto">
  <div class="p-6 ml-auto mr-auto">
    <nz-calendar>
      <ul *nzDateCell="let date" class="events">
        <ng-container [ngSwitch]="date.getDate()">

          <ng-container *ngFor="let trip of (trips)">
                <ng-container *ngSwitchCase="trip.departure | lowercase | date:'dd'">
                  <nz-badge [nzStatus]="trip.tripName"
                            [nzText]="trip.tripName"></nz-badge>
                </ng-container>
              </ng-container>

            </ng-container>
      </ul>
      <ng-container *nzMonthCell="let month">
        <div *ngIf="getMonthData(month) as monthData" class="notes-month">
          <section>{{ monthData }}</section>
          <span>Backlog number</span>
        </div>
      </ng-container>
    </nz-calendar>

  </div>
</div>
<footer class="h-24 bg-gradient-to-r from-blue-400 via-purple-300 to-pink-500 rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="" class="hover:underline">Ntokozo™</a>. All Rights Reserved.
    </span>
  </div>
</footer>

